<div class="f">
    <div class="foother">
        <div class="foother_item">
            <img class="logo" src="../static/Logo (1).png" alt="">
            <p>Morbi cursus porttitor enim lobortis molestie. Duis gravida turpis dui, eget bibendum magna congue nec.</p>
            <img src="../static/Call Now.png" alt="">
        </div>
        <div class="foother_item">
            <h3>My Account</h3>
            <a href="">My Account</a>
            <a href="">Order History</a>
            <a href="/cart">Shoping Cart</a>
            <a href="">Wishlist</a>
        </div>
        <div class="foother_item help">
            <h3>Helps</h3>
            <a href="">Contact</a>
            <a href="">Faqs</a>
            <a href="">Terms & Condition</a>
            <a href="">Privacy Policy</a>
        </div>
        <div class="foother_item">
            <h3>Proxy</h3>
            <a href="">About</a>
            <a href="/">Shop</a>
            <a href="">Product</a>
            <a href="">Track Order</a>
        </div>
        <div class="foother_item f-category">
            <h3>Categories</h3>
            <a href="/category/1">Fruit & Vegetables</a>
            <a href="/category/2">Meat & Fish</a>
            <a href="/category/3">Bread & Bakery</a>
            <a href="/category/4">Beauty & Health</a>
        </div>
    </div>
    <hr class="hr-f">
    <div class="end">
        <p>Ecobazar eCommerce © 2021. All Rights Reserved</p>
        <div class="foother-images">
            <a href="https://www.tbceducation.ge/"><img class="tbc_logo" src="../static/id0m1BAQOE.jpg"></a>
            <a href="https://www.apple.com/apple-pay/"><img src="../static/Method=ApplePay.png"></a>
            <a href="https://www.visa.com.ge/en_GE"><img src="../static/Method=Visa.png"></a>
            <a href="https://www.discover.com/"><img src="../static/Method=Discover.png"></a>
            <a href=""><img src="../static/Method=Mastercard.png"></a>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}