<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/layout.css">
    <title>EcoBazar</title>
</head>
<body>
    <div class="menu">
            <div class="menu-item1">
                <a href="/" class="menu-item">home</a>
                <a href="/" class="menu-item">shop</a>
                <a href="/addproduct" class="menu-item">add product</a>
            </div>
            <div class="menu-item2">
                <img src="../static/images/Call Now.png" alt="">
            </div>
        </div>
    </body>
{% block content %}

{{form}}

{% endblock %}
</body>
</html>